# Ignore files related to Unity projects that are not needed for the package
.DS_Store
Thumbs.db
.vs/
.idea/
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.opendb
*.VC.db

*.apk
*.aab
*.unitypackage
*.app
Build/
Builds/

Logs/
sysinfo.txt

[Tt]emp/
[Bb]uild/
[Ll]ibrary/
[Oo]bj/
.gradle/

Assets/Plugins/Editor/JetBrains*
